# Virtual Environment
myenv/
venv/
env/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

z_extras

files